[Unit]
Description=ttyd

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/bin/ttyd -p 9090 -w /src bash
User=docker

[Install]
WantedBy=multi-user.target